<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jenerator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JeneratorSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JeneratorSDKTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A3561881D00911500A386E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D336F1D030C4C004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D338A1D030F75004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D33931D030F76004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D33C81D031445004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D33E01D031497004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D33E91D031498004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D34371D031814004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3D34401D031814004B281E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ADD6F7A1CFF409D007F59B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
